<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, dolor? Debitis corporis quod architecto consectetur
  illo? Natus, maiores expedita maxime fuga optio pariatur ad eius reprehenderit soluta nostrum aliquid quis earum qui
  corporis inventore eaque dolore quas excepturi nisi. Quasi similique eveniet nihil maxime tenetur itaque eaque magni
  fuga a obcaecati excepturi temporibus quas ea accusantium veniam, minima inventore ad.
</p>
